@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Myeongjo&family=Sunflower:wght@500&display=swap');

*{
    text-align: center;
}
h1{
    height: 120px;
    border-width: 30px 10px;
    border-style: dashed;
    border-color: crimson;
    font-size: 80px;
    font-family: 'Sunflower', sans-serif;
}
.box{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.poster{
    display: block;
    border-style: solid;
    border-right-style: dashed;
    border-width: 3px ;
    border-left-width: 130px;
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-right-color: cadetblue;
    float: left;
    margin-right: 10px;
}
img{
    width: 300px ;
}
.ex{
    display: block;
    border-style: solid;
    border-left-style: dashed;
    border-left-color: cornflowerblue;
    border-width: 3px;
    line-height: 45px;
    height: 475px;
    float: left;
    border-right-width: 130px;
    border-top-width: 30px;
    border-bottom-width: 30px;
}
p{
    margin: auto;
}
.sy{
    margin-top: 40px;

}
.rev{
    font-family: 'Nanum Myeongjo', serif;
}